/* font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */


*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.hobbiesContainer{
    background: #232d48;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: scroll;
    scrollbar-width: none;

}

.hobbiesContainer::-webkit-scrollbar{
    display: none;
}

.hobbiesContainer h1{
    color: white;
}

#p2{
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}

#img2{
    opacity: 0;
    transition: .5s;
}

#img2 img{
    object-fit: cover;
}

.hobby{
    border: 1px solid var(--border);
    width: 75%;
    height: 80px;
    margin: 30px 0px 0px 50px;
    position: relative;
    background-color: #182137;
    display: flex;
    flex-wrap: wrap;
    
}

.hobbyIcon{
    width: 10%;
    height: 100%;
}

.hobbyIcon img{
    width: 100%;
    height: 100%;
}

.hobbyName{
    width: 90%;
    height: 100%;
}

.hobbyName h2{
    color: rgb(241, 241, 241);
    font-family: 'Rubik', sans-serif;
    padding: 25px;
}

