:root{
    background: #182137;
    /* --background: #161616; */
    /* --background: #061935; */
    --border: #315080;
    --font: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100vh;
    width: 100%;
    background: rgb(255,204,41);
    background: linear-gradient(48deg, rgba(255,204,41,1) 0%, rgba(255,99,71,1) 96%);
    animation: changeColor 20s infinite linear;

}

.name{
    left: 30px;
    width: 67%;
    height: 100px;
    color: vaR(--font);
    font-size: 25px;
    position: relative;
}

sub{
    color: tomato;
    font-size: 20px;
    font-weight: bold;
}

.name span{
    color: tomato;

}

.profilePic{
    position: absolute;
    top: 10px;
    right: 35px;
    width: 150px;
    height: 150px;
    border-radius: 50% ;
    overflow: hidden;
}

.profilePic img{
    object-fit: cover;
}

/* Navbar container START */

.navbar{
    /* background: #152644; */
    /* background: #143959; */
    width: 70%;
    height: 70px;
    display: flex;
    color: var(--font);
    position: relative;
    top: 20px;
    left: 25px;
}



.nav{
    cursor: pointer;
    /* background: #143959; */
    width: 33.33%;
    height: 100%;
    text-align: center;
    padding: 15px 0 0 0;
    transition: .4s;
    font-size: 1vw;
}

.nav:hover{
    background: #0d192c;
}

/* Navbar container END */

/* Content containre START */

.content{
    /* border: 1px solid #143959; */
    border-top: none;
    width: 70%;
    height: 400px;
    position: relative;
    left: 25px;
    top: 20px;
}

.content-image{
    width: 55%;
    height:100%;
    position: absolute;
    right: -350px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
}

.content-image img{
    width: 100%;
    height: inherit;
    object-fit: contain;
}

.pages{
    /* border: 1px solid #19355f; */
    width: 100%;
    height: inherit;
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

/* Content containre END */



























@keyframes changeColor {
    0%{
        background: linear-gradient(0deg, rgba(255,204,41,1) 0%, rgba(255,99,71,1) 96%); 
    }
    10%{
        background: linear-gradient(40deg, rgba(255,204,41,1) 0%, rgba(255,99,71,1) 96%);
    }
    20%{
        background: linear-gradient(80deg, rgba(255,204,41,1) 0%, rgba(255,99,71,1) 96%);
    }
    30%{
        background: linear-gradient(120deg, rgba(255,204,41,1) 0%, rgba(255,99,71,1) 96%);
    }
    40%{
        background: linear-gradient(160deg, rgba(255,204,41,1) 0%, rgba(255,99,71,1) 96%);
    }
    50%{
        background: linear-gradient(200deg, rgba(255,204,41,1) 0%, rgba(255,99,71,1) 96%);
    }
    60%{
        background: linear-gradient(240deg, rgba(255,204,41,1) 0%, rgba(255,99,71,1) 96%);
    }
    70%{
        background: linear-gradient(280deg, rgba(255,204,41,1) 0%, rgba(255,99,71,1) 96%);
    }
    80%{
        background: linear-gradient(320deg, rgba(255,204,41,1) 0%, rgba(255,99,71,1) 96%);
    }
    90%{
        background: linear-gradient(340deg, rgba(255,204,41,1) 0%, rgba(255,99,71,1) 96%);
    }
    100%{
        background: linear-gradient(360, rgba(255,204,41,1) 0%, rgba(255,99,71,1) 96%);
    }
}