:root{
    background: #182137;
    /* --background: #161616; */
    /* --background: #061935; */
    --border: #315080;
    --font: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: var(--background);  */
    background: var(--background);
}

.name{
    left: 30px;
    width: 67%;
    height: 100px;
    color: vaR(--font);
    font-size: 35px;
    position: relative;
}

.name p{
    color: #f05945;
    font-size: 25px;
    position: absolute;
    bottom: 15px;
    right: -15px;
    font-weight: bold;
}

.name span{
    /* color: #3672ee; */
    color: #e84545;
}

.profilePic{
    position: absolute;
    top: 10px;
    right: 35px;
    width: 180px;
    height: 180px;
    border-radius: 50% ;
    overflow: hidden;
}

.profilePic img{
    width: 115%;
    height: 110%;
    object-fit: cover;
    position: absolute;
    top: -15px;
    left: -5px;
}

/* Navbar container START */

.navbar{
    /* background: #152644; */
    /* background: #143959; */
    width: 80%;
    height: 70px;
    display: flex;
    color: var(--font);
    position: relative;
    top: 20px;
    left: 25px;
}



.nav{
    cursor: pointer;
    /* background: #143959; */
    width: 33.33%;
    height: 100%;
    text-align: center;
    padding: 15px 0 0 0;
    transition: .4s;
}

.nav:hover{
    background: #0d192c;
}

/* Navbar container END */

/* Content containre START */

.content{
    /* border: 1px solid #143959; */
    border-top: none;
    width: 80%;
    height: 420px;
    position: relative;
    left: 25px;
    top: 20px;
}

.content-image{
    width: 40%;
    height:100%;
    position: absolute;
    right: -220px;
    top: 50%;
    transform: translateY(-50%);
}

.content-image img{
    width: 100%;
    height: inherit;
    object-fit: contain;
}

.pages{
    /* border: 1px solid #19355f; */
    width: 100%;
    height: inherit;
    position: absolute;
}

/* Content containre END */

