:root{
    background: #182137;
    /* --background: #161616; */
    /* --background: #061935; */
    --border: #315080;
    --font: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    
    /* background: rgb(255,148,114); */
    /* background: linear-gradient(209deg, rgba(255,148,114,1) 0%, rgba(242,113,155,1) 100%); */
}

#portfolio-main-container{
    display: flex;
    width: 95%;
    height: 91vh;
    margin: auto auto;
    transform: translateY(5%);
    /* z-index: 2; */
}


#background{
    width: 100vw;
    height: 100vh;
    position: absolute;
    /* background: #0d192c; */
    backdrop-filter: blur(5px);
}































/* Left container start  */

#left-container{
    width: 67%;
    height: 100%;
    position: relative;
}

#header{
    width: 100%;
    height: auto;
    display: flex;
    background-color: #182137;
}

#name{
    width: 100%;
    height: 100%;
    color: vaR(--font);
    font-size: 3vw;
    padding: 23px;
}

#name span{
    color: tomato;
}

#profilePic{
    width: 14%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

#profilePic img{
    object-fit: cover;
}

sub{
    color: #ff6347;
    font-size: 2vw;
    font-weight: bold;
}



#footer{
    width: 100%;
    height: 80%;
}

.navbar{
    width: 100%;
    height: fit-content;
    display: flex;
    color: var(--font);
    background-color: #182137;
}

.nav{
    cursor: pointer;
    width: 16.66%;
    height: 100%;
    text-align: center;
    padding: 20px 0px;
    transition: .4s;
    font-size: 1vw;
}

.nav:hover{
    background: #0d192c;
}

.content{
    width: 100%;
    height: 100%;
}


.pages{
    /* border: 1px solid #19355f; */
    width: 100%;
    height: 68%;
    position: absolute;
    visibility: hidden;
    opacity: 0;
}


/* Left container end  */

















/* Right container start  */

#right-container{
    width: 33%;
    height: 91vh;
    position: relative;
    overflow: hidden;
}

#right-container img{
    object-fit: cover;
}

#slideShow{
    transition: .2s;
}


/* Right container end  */





























/* Media Queries  */

@media screen and (max-width: 1000px){
    #portfolio-main-container{
        width: 95vw;
        height: 100vh;
    }

    #name{
        font-size: 4vw;
        padding: 20px;
    }

    .nav{
        padding: 20px 0px;
        font-size: 1.5vw;
    }

    #right-container{
        display: none;
    }

    #left-container{
        width: 100%;
    }

    .pages{
        height: 78%;
    }
}

