#p1{
    transition: .5s;
    position: relative;
    display: block;
    height: 100%;
}

#img1{
    opacity: 0;
    transition: .5s;
}

.intro{
    background: #232d48;
    color: #ffcc29;
}

.container{
    background: #232d48;
    position: absolute;
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    height: 100%;
    scrollbar-width: none;
}

.container::-webkit-scrollbar{
    display: none;
}

.introduction{
    border: 1px solid var(--border);
    width: 82%;
    position: relative;
    /* margin: 40px 0px 40px 50px; */
    margin: 40px auto;
    padding: 10px 20px 10px 20px;
    color: #ffcc29;
    font-size: 20px;
    /* font-family: 'Rubik', sans-serif; */
    background-color: #182137;
}

.introduction span{
    font-weight: bold;
    color: #f05945;
}






















/* Language container START */

#skills{
    width: 82%;
    height: fit-content;
    /* background-color: #182137; */
    margin: auto auto;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.language{
    width: 100%;
    height: 90px;
    display: flex;
    background-color: #182137;
}

.langIcon{
    width: 13%;
    height: 100%;
    padding: 29px 0px 29px 50px;
}

.language p{
    width: 70%;
    height: 100%;
    font-size: 2vw;
    color: white;
    display: flex;
    align-items: center;
}

.percent{
    width: 13%;
    height: 100%;
    position: relative;
    border-radius: 50%;
}

.percent h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
    
}


.python h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke:2px #03a9f4 ;
}

.python h2:nth-child(2){
    color: #03a9f4;
    animation: intermediateWave 4s linear infinite;
}

/* Javascript language percentage start */

.javascript h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke:2px #7bd5ff ;
}

.javascript h2:nth-child(2){
    color: #7bd5ff;
    animation: intermediateWave 3s linear infinite;
}

/* Javascript language percentage start */


/* html language percentage start */

.html h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke:2px #0487c3 ;
}

.html h2:nth-child(2){
    color: #0487c3;
    animation: professional 3s linear infinite;
}

/* html language percentage start */

/* MySQL language percentage start */

.mysql h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke:2px tomato;
}

.mysql h2:nth-child(2){
    color: tomato;
    animation: noviceWave 5s linear infinite;
}

/* MySQL language percentage start */

/* Github language percentage start */

.github h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke:2px rgb(255, 147, 128);
}

.github h2:nth-child(2){
    color: rgb(255, 147, 128);
    animation: averageWave 5s linear infinite;
}

/* React language percentage start */


.react h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke:2px #7bd5ff;
}

.react h2:nth-child(2){
    color:#7bd5ff;
    animation: intermediateWave 5s linear infinite;
}

/* Flask language percentage start */


.flask h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke:2px #7bd5ff;
}

.flask h2:nth-child(2){
    color: #7bd5ff;
    animation: intermediateWave 5s linear infinite;
    animation-delay: 2s;
}

/* Flask language percentage start */


/* NodeJS language percentage start */


.node h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke:2px rgb(255, 59, 24);
}

.node h2:nth-child(2){
    color: transparent;
}

/* NodeJS language percentage start */











/* Keyframes start */


@keyframes professional{
    0%, 100%{
        clip-path: polygon(1% 28%, 13% 26%, 25% 31%, 35% 35%, 44% 41%, 54% 45%, 69% 49%, 81% 48%, 89% 43%, 95% 37%, 100% 30%, 100% 99%, 1% 100%);
    }
    50%{
        clip-path: polygon(1% 28%, 14% 34%, 23% 39%, 35% 43%, 49% 44%, 60% 44%, 72% 40%, 82% 31%, 76% 35%, 91% 24%, 100% 25%, 100% 99%, 1% 100%);
    }
}

@keyframes intermediateWave{
    0%, 100%{
        clip-path: polygon(0% 35%, 11% 36%, 21% 39%, 36% 45%, 46% 50%, 55% 54%, 70% 58%, 87% 55%, 98% 49%, 100% 100%, 1% 100%);
    }
    50%{
        clip-path: polygon(0 42%, 13% 48%, 24% 51%, 36% 56%, 51% 54%, 62% 47%, 72% 40%, 83% 37%, 100% 37%, 100% 100%, 1% 100%);
    }
}

@keyframes averageWave{
    0%, 100%{
        clip-path: polygon(0 49%, 13% 48%, 26% 51%, 36% 55%, 46% 60%, 57% 60%, 70% 59%, 78% 57%, 89% 52%, 100% 50%, 100% 100%, 0 100%);
    }
    50%{
        clip-path: polygon(0 49%, 11% 55%, 26% 59%, 35% 61%, 45% 61%, 56% 57%, 66% 54%, 78% 51%, 88% 48%, 100% 46%, 100% 100%, 0 100%);
    }
}

@keyframes noviceWave{
    0%, 100%{
        clip-path: polygon(0% 63%, 12% 64%, 24% 68%, 30% 74%, 41% 82%, 56% 85%, 69% 84%, 79% 82%, 90% 78%, 100% 66%, 100% 100%, 0 100%);
    }
    50%{
        clip-path: polygon(0 60%, 11% 66%, 22% 69%, 31% 71%, 41% 71%, 53% 68%, 66% 65%, 77% 61%, 90% 60%, 100% 60%, 100% 100%, 0 100%);
    }

} 

/* Keyframes start */































/*  Media Query */
@media screen and (max-width: 1000px){

    
    .language{
        height: 60px;
    }

    .language p{
        width: 60%;
        font-size: 18px;
    }

    .langIcon{
        width: 17%;
        padding: 0px 0px 0px 30px;
    }

    .langIcon img{
        width: 60%;
    }

    .percent{
        width: 23%;
    }

    .percent h2{
        font-size: 6vw;
    }

}







/*  Media Query */