#p1{
    visibility: visible;
    opacity: 1;
    transition: .5s;
}

#img1{
    opacity: 0;
    transition: .5s;
}

.intro{
    background: #232d48;
    color: #ffcc29;
}

.container{
    background: #232d48;
    position: absolute;
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    height: 100%;
    scrollbar-width: none;
}

.container::-webkit-scrollbar{
    display: none;
}

.introduction{
    border: 1px solid var(--border);
    width: 82%;
    position: relative;
    /* margin: 40px 0px 40px 50px; */
    margin: 40px auto;
    padding: 10px 20px 10px 20px;
    color: #ffcc29;
    font-size: 20px;
    /* font-family: 'Rubik', sans-serif; */
    background-color: #182137;
}

.introduction span{
    font-weight: bold;
    color: #f05945;
}






















/* Language container START */

#skills{
    width: 82%;
    height: fit-content;
    /* background-color: #182137; */
    border: 1px solid var(--border);
    margin: auto auto;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.language{
    width: 100%;
    height: 90px;
    display: flex;
    background-color: #182137;
}

.langIcon{
    width: 13%;
    height: 100%;
    padding: 29px 0px 29px 50px;
}

.language p{
    width: 70%;
    height: 100%;
    font-size: 2vw;
    color: white;
    display: flex;
    align-items: center;
    padding: 0px 15px ;
}

.percent{
    width: 13%;
    height: 100%;
    position: relative;
    border-radius: 50%;
}

.percent h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
}


.percent h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke:2px #03a9f4 ;
}

.percent h2:nth-child(2){
    color: #03a9f4;
    animation: wave 10s linear infinite;
    -webkit-animation:  wave 10s linear infinite;
}

@keyframes wave{
    0%{
        clip-path: polygon(0% 49%, 15% 48%, 29% 53%, 38% 60%, 53% 64%, 71% 66%, 89% 66%, 99% 63%, 99% 99%, 1% 99%);
    }
    50%{
        clip-path: polygon(100% 46%, 88% 46%, 72% 50%, 59% 55%, 46% 63%, 32% 64%, 18% 63%, 5% 59%, 0% 55%, 1% 100%, 99% 100%);
    }
    100%{
        clip-path: polygon(0% 49%, 15% 48%, 29% 53%, 38% 60%, 53% 64%, 71% 66%, 89% 66%, 99% 63%, 99% 99%, 1% 99%);
    }
}


